body {
    margin: 0;
}

.tablero{
    width: 100%;
    background-image: url(polaroid/fondo.jpg);
    background-repeat: repeat;  
    display: flex;
    justify-content: center;


}
.galeria{
    width: 80%;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photos {
    width: 270px;
    height: 370px;
    background-color: beige;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    align-items: center;
    flex-wrap: wrap ;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
    box-shadow: 10px 10px 10px -5px grey;
    position: relative;
    transform: 0.3s;
    
}

img{
    width: 250px;
    height: 280px;
    padding: 0 5px;
    margin-top: 10px;
}
figcaption{
    margin-top: 15px;
}

.foto1{
    top: 10px;
    left: 20px;
    z-index: 10;
    -webkit-transform: rotate(-10deg);
}
.foto2{
    top: 10px;
    left: -20px;
    z-index: 20;
    -webkit-transform: rotate(20deg);
}

.foto3{
    top: 20px;
    left: -10px;
    z-index: 30;
    -webkit-transform: rotate(-15deg);
}

.foto4{
    top: 10px;
    left: -10px;
    z-index: 40;
    -webkit-transform: rotate(15deg);
}

.foto5{
    top: 5px;
    left: -10px;
    z-index: 50;
    -webkit-transform: rotate(-15deg);
}

.foto6{
    top: 5px;
    left: -10px;
    z-index: 60;
    -webkit-transform: rotate(20deg);
}

.photos:hover{
    transform: scale(1.3);
    z-index: 100;
}